
/* Main Section */
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{}
.navbar{
    height: 5rem;
    background: #DEEEF1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
}
.left-nav-services{
    height: 3rem;
    width: 4rem;
    margin-right: 2rem;
    background: url("Logo.png");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    display: none;
}
.right-nav-services{
    height: 3rem;
    width: 40rem;
    /* background-color: #45bd99; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.right-services{
    height: 2rem;
    width: 7rem;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
}
.right-services:hover{
    background-color: #ffffff;
    transition: 0.5s ease;
}
.menu-icon{
    display: none;
}
.slider-section{
    margin-top: 0.1rem;
    min-height: 60vh;
    background-color: #DEEEF1;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 7rem;
}
.slider-heading{
    font-size: 3.5rem;
    max-width: 30vw;
    font-weight: 600;
}
.slider-para{
    font-size:2rem;
    line-height: 2.4rem;
    max-width: 40vw;
    margin-top: 1.5rem;
}
.button{
    margin-top: 1.5rem;
    height: 3rem;
    width: 9rem;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    cursor: pointer;
}


/* Info Section */
.info-section{
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.lawyer{
    width: 20vw;
    height: 50vh;
    margin-top: 2rem;
    background-color: aqua;
    justify-content: space-around;
}
.image{
    height: 20vh;
    background-color: #DEEEF1;
}


@media (max-width: 1250px){
    .logo{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .left-nav-services{
        margin-right: 10rem;
        display: none;
    }
    .right-nav-services{
        display: none;
    }
    .menu-icon{
        display: block;
    }
    .info-section{
        display: flex;
        flex-direction: column;
    }
    .lawyer{
        width: 40vw;
        height: 50vh;
    }

    
}




