
/* Main Section */
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.navbar{
    height: 5rem;
    background: #b4eaf3;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
}
.left-nav-services{
    height: 3rem;
    width: 4rem;
    margin-right: 2rem;
    background: url("Logo.png");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* display: none; */
}
.right-nav-services{
    height: 3rem;
    width: 40rem;
    /* background-color: #45bd99; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.right-nav-responsive{
    height: 0;
}
.right-services{
    height: 2rem;
    width: 7rem;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
}
.right-services:hover{
    background-color: #ffffff;
    transition: 0.5s ease;
}
.menu-icon{
    display: none;
    cursor: pointer;
}
.slider-section{
    margin-top: 1rem;
    min-height: 60vh;
    background-color: #DEEEF1;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 7rem;
}
.slider-heading{
    font-size: 3.5rem;
    max-width: 70vw;
    font-weight: 600;
}
.slider-para{
    font-size:2rem;
    line-height: 2.4rem;
    max-width: 40vw;
    margin-top: 2.5rem;
}
.button{
    margin-top: 2.5rem;
    height: 3rem;
    width: 9rem;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    cursor: pointer;
}


/* Info Section */
.info-section{
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.lawyer{
    width: 20vw;
    height: 50vh;
    margin-top: 2rem;
    justify-content: space-around;
}
.image{
    height: 20vh;
    background-color: #DEEEF1;
}
.info{
    font-weight: 700;
    height: 1.5;
    line-height: 1.5;
    font-size: 20px;
    text-align: center;
}
@media (max-width: 1250px){
    
    .logo{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .left-nav-services{
        margin-right: 10rem;
        display: none;
    }
    
    
    .info-section{
        display: flex;
        flex-direction: column;
    }
    .lawyer{
        margin-top: 12rem;
        width: 40vw;
        height: 50vh;
    }

    
}
@media (max-width: 750px){
    #right-nav-responsive{
        display: none;
        background-color: rgb(216, 215, 215);
        flex-direction: column;
        align-items: center;
        z-index: 1;
    }
    
    .slider-section{
        padding-left: 0.5rem;
    }
    .slider-heading{
        max-width: 90%;
    }
    .slider-para{
        max-width: 90%;
    }
    .right-nav-services{
        display: none;
    }
    .slider-section{
        padding-top: 2rem;
    }
    .slider-heading{
        max-width: 100%;
    }
    .slider-para{
        width: 100%;
    }
    .menu-icon{
        display: block;
    }
  
}
@media (max-width: 500px){
    
    .slider-section{
        padding: 1rem;
    }
    .slider-heading{
        max-width: 100%;
    }
    .slider-para{
        max-width: 100%;
    }
    
}
a{
    text-decoration: none;
    color: black;
}

/* Footer section */
.footer-section{
    background-color: #b4eaf3;
    height: 10vh;
    width: 100vw;
}




