.services{
    display: flex;
    flex-direction: column;
    margin: 5rem;
}
.service-bulletpoint{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 2rem;
}
.service-bullet-left>div{
    margin-top: 1rem;
}
.service-bullet-right>div{
    margin-top: 1rem;
}
.service-define{
    margin: 5rem;
}
.service{
    border: 3px solid black;
    margin-top: 3rem;
}