
/* Main Section */
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.navbar{
    font-weight: 600;
    height: 5rem;
    background: linear-gradient(to right, #7b3f00, #e0994e);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
}
.left-nav-services{
    height: 3rem;
    width: 4rem;
    margin-right: 2rem;
    background: url("Logo.png");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.motto-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.motto{
    margin-left: 20vw;
    height: 5vh;
    width: 40vw;
    background-color: #e0994e;
}
.corporate, .litigation, .advisory{
    margin-left: 1vh;
    font-weight: 600;
}
.logo{
    display: flex;
    align-items: center;
    /* position: inherit; */
    justify-content: space-around;
    font-weight: 600;
    font-size: large;
    /* display: none; */
}
.right-nav-services{
    height: 3rem;
    width: 40rem;
    /* background-color: #45bd99; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.right-nav-responsive{
    display: no;
}
.right-services{
    height: 2rem;
    width: 7rem;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
}
.right-services:hover{
    background-color: #fcb558;
    transition: 0.5s ease;
}
.menu-icon{
    display: none;
    cursor: pointer;
}
.slider-section{
    margin-top: 0.1rem;
    min-height: 60vh;
    background-color: #DEEEF1;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 7rem;
}
.slider-heading{
    font-size: 3.5rem;
    max-width: 70vw;
    font-weight: 600;
}
.slider-para{
    font-size:2rem;
    line-height: 2.4rem;
    max-width: 40vw;
    margin-top: 2.5rem;
}
.button{
    margin-top: 2.5rem;
    height: 3rem;
    width: 9rem;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

.team-section{
    /* min-height: 50vh; */

}
.team-mates{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.team-mates > div{
    background-color: #e0994e;
    width: 300px;
    min-height: 40vh;
    margin: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
}




.footer{
    height: 30vh;
    background-color: #7b3f00;

}
@media (max-width: 1250px){
    
    .logo{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .left-nav-services{
        margin-right: 10rem;
        display: none;
    }
    
}
@media (max-width: 750px){
    #right-nav-responsive{
        display: none;
        background-color: rgb(216, 215, 215);
        flex-direction: column;
        align-items: center;
        z-index: 1;
    }
    /* .lawyer{
        width: 80vw;
    }
    .image{
        width: 100% ;
        height: 50vh;
    } */
    
    .slider-section{
        padding-left: 0.5rem;
    }
    .slider-heading{
        max-width: 90%;
    }
    .slider-para{
        max-width: 90%;
    }
    .right-nav-services{
        display: none;
    }
    .slider-section{
        padding-top: 2rem;
    }
    .slider-heading{
        max-width: 100%;
    }
    .slider-para{
        width: 100%;
    }
    .menu-icon{
        display: block;
    }
  
}
@media (max-width: 500px){
    
    .slider-section{
        padding: 1rem;
    }
    .slider-heading{
        max-width: 100%;
    }
    .slider-para{
        max-width: 100%;
    }
    
}
a{
    text-decoration: none;
    color: black;
}






